@model BugTracker.Models.ViewModels.AddTicketWithProjectViewModel
@using BugTracker.Models.Enums;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket!.Id" />
            <input type="hidden" asp-for="Ticket!.OwnerUserId" />
            <input type="hidden" asp-for="Ticket!.DeveloperUserId" />
            <input type="hidden" asp-for="Ticket!.CreatedDate" />
            <input type="hidden" asp-for="Ticket!.Archived" />
            <input type="hidden" asp-for="Ticket!.ArchivedByProject" />

            <div class="form-group">
                <label asp-for="Ticket!.Title" class="control-label"></label>
                <input asp-for="Ticket!.Title" class="form-control" />
                <span asp-validation-for="Ticket!.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket!.Description" class="control-label"></label>
                <input asp-for="Ticket!.Description" class="form-control" />
                <span asp-validation-for="Ticket!.Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Ticket!.TicketTypeId" class="control-label"></label>
                <select asp-for="Ticket!.TicketTypeId" class ="form-control" asp-items="@Model.TypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket!.TicketPriorityId" class="control-label"></label>
                <select asp-for="Ticket!.TicketPriorityId" class ="form-control" asp-items="@Model.PriorityList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket!.TicketStatusId" class="control-label"></label>
                <select asp-for="Ticket!.TicketStatusId" class ="form-control" asp-items="@Model.StatusList"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Project</label>
                <select asp-for="ProjectID" class="form-control" asp-items="@Model.ProjectList">
                    <option></option>
                </select>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="AllTickets">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
